services:
  db:
    image: mysql/mysql-server:8.0
    container_name: wc_dokan_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db_data:/var/lib/mysql

  wordpress:
    image: wordpress:6.8-php8.2-apache
    container_name: wc_dokan_wordpress
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "8085:80"
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_CONFIG_EXTRA: |
        define('FS_METHOD', 'direct');
    volumes:
      - wp_data:/var/www/html

  wpcli:
    image: wordpress:cli-php8.2
    container_name: wc_dokan_wpcli
    user: "0:0"
    depends_on:
      - db
      - wordpress
    volumes:
      - wp_data:/var/www/html
    entrypoint: ["wp", "--allow-root"]

volumes:
  db_data:
  wp_data:
